<li class="examplereferred">
	<a href="#" class="small-avatar">
		<img src="https://www.gravatar.com/avatar/0?d=blank" alt="">
	</a>
	<div class="content examplereferred">
		<a href="#" class="avatar">
			<img src="https://www.gravatar.com/avatar/0?d=blank" alt="">
		</a>
		<h3><span>Trial</span> Signup Only</h3>
		<p>
			Friends that have registered for a trial account but have not used your referral are also shown.
		</p>
		<a href="#" class="grey">Remind Your Friend!</a>
	</div>
</li>