<li class="exampleearned">
	<a href="#" class="small-avatar">
		<img src="https://www.gravatar.com/avatar/0?d=blank" alt="">
	</a>
	<div class="content exampleearned">
		<a href="#" class="avatar">
			<img src="https://www.gravatar.com/avatar/0?d=blank" alt="">
		</a>
		<h3><span>Referred</span> Friend</h3>
		<p>
			Referred friends are displayed here to indicate the discounts you share.
		</p>
		<a href="#" class="green">Example</a>
	</div>
</li>